SECRET_KEY=change-me
DATABASE_URL=sqlite:///database/event.db
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=hanhuyenxinchao@gmail.com
MAIL_PASSWORD=lethihanhuyen23009
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_SENDER=hanhuyenxinchao@gmail.com
